{% extends "base.html "%}

{% block body %}
<div class="container-fluid py-4 text-center">
    <h4 class="display-5 fw-bold mb-4">About CitiDient</h4>
    <p class="fs-4">The CitiDient Web App is an open source web app designed to facilitate the transcription of election results from the Independent National Electoral Commission (INEC) IReV portal. The app is written in python flask and is available under the MIT Licence, which permits users to use, modify and distribute the software with few restrictions.</p>
    
    <p class="fs-4">The app aims to help candidates in the just concluded general elections use their communities to help transcribe election results online. Registered users are presented with result sheets which they can then transcribe by entering votes, accreditation data and verifying signatures and stamps.</p>
        
    <p class="fs-4">The CitiDient Web App is a free and open source software that is available for anyone to use at no cost. The app is not affiliated with the Independent National Electoral Commission (INEC) of Nigeria and is not officially endorsed or sponsored by INEC.</p>
</div>
{% endblock %}