{% extends "base.html "%}

{% block body %}
<div class="row">
    <div class="col-lx-12">
        <div class="">
            <div class="">
                <div class="row justify-content-center mt-4">
                    <div class="col-xl-5 col-lg-8">
                        <div class="text-center">
                            <h3>Frequently Asked Questions?</h3>
                            <p class="text-muted">Learn about the CitiDient Web App from our curated frequently most asked questions.</p>
                            <div>
                                <button type="button" class="btn btn-primary me-2">Email Us</button>
                                <button type="button" class="btn btn-success">Send us a tweet</button>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
                <div class="row justify-content-center mt-5">
                    <div class="col-9">
                        <ul class="nav nav-tabs  nav-tabs-custom nav-justified justify-content-center faq-tab-box"
                            id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-genarel-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-genarel" type="button" role="tab"
                                    aria-controls="pills-genarel" aria-selected="true">
                                    <span class="font-size-16">General Questions</span>
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-privacy_policy-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-privacy_policy" type="button" role="tab"
                                    aria-controls="pills-privacy_policy" aria-selected="false">
                                    <span class="font-size-16">Privacy Policy</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-9">
                        <div class="tab-content pt-3" id="pills-tabContent">
                            <div class="tab-pane fade active show" id="pills-genarel" role="tabpanel"
                                aria-labelledby="pills-genarel-tab">
                                <div class="row g-4 mt-2">
                                    <div class="col-lg-6">
                                        <h5>Q: What is the INEC IReV portal?</h5>
                                        <p class="text-muted"><strong>A:</strong> The INEC IReV portal is the online
                                            platform used by the Independent National Electoral Commission (INEC) of
                                            Nigeria to publish and share election results.</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <h5>Q: What is the purpose of the CitiDient Web App?</h5>
                                        <p class="text-muted"><strong>A:</strong> The CitiDient Web App is an open
                                            source web app written in python flask that aims to help candidates in the
                                            just concluded general elections use their communities to help transcribe
                                            election results online. The app is designed to facilitate the transcription
                                            of result sheets by registered users, allowing them to enter votes,
                                            accreditation data and verify signatures and stamps.</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <h5>Q: What is the MIT Licence?</h5>
                                        <p class="text-muted"><strong>A:</strong> The MIT Licence is a permissive free
                                            software licence that permits users to use, modify and distribute the
                                            software with few restrictions. The licence is often used for open source
                                            software.</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <h5>Q: Is CitiDient Web App available under the MIT Licence?</h5>
                                        <p class="lg-base"><strong>A:</strong> Yes, the CitiDient Web App is available
                                            under the MIT Licence. This means that users can use, modify and distribute
                                            the software with few restrictions.</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <h5>Q: How do I use CitiDient Web App?</h5>
                                        <p class="lg-base"><strong>A:</strong> To use the CitiDient Web App, you must
                                            first register as a user on the app. Once you have registered, you will be
                                            presented with result sheets that you can transcribe by entering votes,
                                            accreditation data and verifying signatures and stamps.</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <h5>Q: Can I access the CitiDient Web App from any device?</h5>
                                        <p class="lg-base"><strong>A:</strong> Yes, the CitiDient Web App is a web app
                                            and can be accessed from any device with an internet connection and a web
                                            browser.</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <h5>Q: Is the CitiDient Web App affiliated with the Independent National
                                            Electoral Commission (INEC) of Nigeria?</h5>
                                        <p class="lg-base"><strong>A:</strong> No, the CitiDient Web App is not
                                            affiliated with the Independent National Electoral Commission (INEC) of
                                            Nigeria. The app is designed to facilitate the transcription of result
                                            sheets by registered users, but it is not officially endorsed or sponsored
                                            by INEC.</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <h5>Q: Can I modify and redistribute the CitiDient Web App?</h5>
                                        <p class="lg-base"><strong>A:</strong> Yes, the CitiDient Web App is available
                                            under the MIT Licence, which permits users to modify and redistribute the
                                            software with few restrictions.</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <h5>Q: Is there a cost to use the CitiDient Web App?</h5>
                                        <p class="lg-base"><strong>A:</strong> No, the CitiDient Web App is a free and
                                            open source software that is available for anyone to use at no cost.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="pills-privacy_policy" role="tabpanel"
                                aria-labelledby="pills-privacy_policy-tab">
                                <div class="row g-4 mt-2">
                                    <div class="col-lg-6">
                                        <h5>Privacy Policy for CitiDient Web App.</h5>
                                        <p class="lg-base">Thank you for using the CitiDient. This Privacy Policy
                                            outlines the types of personal information that we collect from you when you
                                            use the App, how we use and protect that information, and your rights in
                                            relation to that information.</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <h5>Information We Collect</h5>
                                        <p class="lg-base">When you use the App, we may collect personal information
                                            such as your name, email address, and phone number. Additionally, the App
                                            may access the camera and storage on your device in order to capture and
                                            store images of the result sheets for transcription.</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <h5>Use of Personal Information</h5>
                                        <p class="lg-base">We use the personal information that we collect from you to
                                            provide and improve the App, to communicate with you about the App, to
                                            respond to your inquiries, and to comply with legal obligations.</p>
                                        <p class="lg-base">We may also use your personal information to send you
                                            promotional or marketing materials related to the App, but only if you have
                                            given your explicit consent for us to do so.</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <h5>Sharing of Personal Information</h5>
                                        <p class="lg-base">We may share your personal information with third-party
                                            service providers that assist us with the operation and maintenance of the
                                            App. We may also disclose your personal information to law enforcement or
                                            other government authorities if required by law or to protect our legal
                                            rights.</p>
                                        <p class="lg-base">We do not sell, rent, or trade your personal information to
                                            third parties.</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <h5>Data Retention</h5>
                                        <p class="lg-base">We retain your personal information for as long as necessary
                                            to provide you with the App and to comply with legal obligations. We may
                                            also retain your personal information for a longer period if necessary to
                                            protect our legal rights or to resolve disputes.</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <h5>Security</h5>
                                        <p class="lg-base">We take reasonable measures to protect your personal
                                            information from unauthorized access, use, or disclosure. However, please be
                                            aware that no security measures are perfect or impenetrable, and we cannot
                                            guarantee the security of your personal information.</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <h5>Your right</h5>
                                        <p class="lg-base">You have the right to access, update, and delete your
                                            personal information at any time. You may also withdraw your consent for us
                                            to use your personal information for promotional or marketing purposes at
                                            any time. To exercise these rights, please contact us at
                                            hello@citidient.org.</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <h5>Changes to this Privacy Policy</h5>
                                        <p class="lg-base">We may update this Privacy Policy from time to time. If we
                                            make material changes to this Privacy Policy, we will notify you by email or
                                            by posting a notice on the App.</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <h5>Contact Us</h5>
                                        <p class="lg-base">If you have any questions or concerns about this Privacy
                                            Policy, please contact us at hello@citidient.org.</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <h5>Effective Date</h5>
                                        <p class="lg-base">This Privacy Policy is effective as of 00-00-0000.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
        </div>
    </div>
</div>

{% endblock %}