{% extends "base.html "%}

{% block body %}
<div class="p-5 mb-4 mt-4 bg-body-tertiary rounded-3 text-center">
    <div class="container-fluid py-4">
        <h1 class="display-5 fw-bold mb-4">CitiDient</h1>
        <p class="fs-4">CitiDient is a civic based community app that helps users collectively transcribe results from the INEC IReV portal and by so doing allows those who are challanging the electoral process or results a means to get accurate data from the result sheets uploaded on the INEC IReV portal.</p>
        {% if session.logged_in == NULL %}
            <a href="{{url_for('login')}}" class="btn btn-outline-success btn-lg" type="button">Login</a>
            <a href="{{url_for('signup')}}" class="btn btn-success btn-lg" type="button">Signup</a>
        {% else %}
        <a href="{{url_for('transcribe')}}" class="btn btn-success btn-lg" type="button">Help Transcribe more Results</a>
        {% endif %}

    </div> 
</div> 
{% endblock %}