<nav class="navbar navbar-expand-md bg-body-tertiary shadow-sm sticky-top">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('index') }}"><img src="../static/img/citidient_logo.svg"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav me-auto mb-2 mb-lg-0">
        <a class="nav-link" href="{{url_for('faq')}}">FAQs</a>
        <a class="nav-link" href="{{url_for('about')}}">About</a>
        {% if session.logged_in %}
        <div class="dropdown">
          <button class="nav-link btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Results
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{url_for('transcribe')}}">Transcribe</a></li>
            <li><a class="dropdown-item" href="{{url_for('results')}}">View Results</a></li>
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="../static/img/user_icon.svg">
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          {% if session.logged_in %}
            <li><a class="dropdown-item" href="{{url_for('dashboard')}}">Dashboard</a></li>
            <li><a class="dropdown-item" href="/profile/{{session.username}}">Profile</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="{{url_for('logout')}}">Logout</a></li>
          {% else %}
            <li><a type="button" class="dropdown-item" href="{{url_for('login')}}">Login</a></li>
            <li><a type="button" class="dropdown-item" href="{{url_for('signup')}}">Sign-up</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>