{% extends "base.html "%}

{% block body %}
<div class="container body-mod text-center">
    <main class="form-signin w-100 m-auto">
        <form action="{{url_for('reset_password_submit')}}" method="POST">
            <h1 class="h3 mb-3 fw-normal">Change Password</h1>
            <div class="form-floating mb-3">
                <input type="password" id="floatingPassword" name="new_password" class="form-control"
                    aria-labelledby="passwordHelpBlock">
                <label for="floatingPassword" class="form-label">Password</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" id="floatingPassword" name="confirm_new_password" class="form-control"
                    aria-labelledby="passwordHelpBlock">
                <label for="floatingPassword" class="form-label">Password</label>
            </div>

            <button class="w-100 btn btn-lg btn-success" type="submit">Confirm Change</button>
        </form>
    </main>
</div>
{% endblock %}