{% extends "base.html "%}

{% block body %}
<div class="container body-mod text-center">
    <main class="form-signin w-100 m-auto">
        <form action="{{url_for('reset_password')}}" method="POST">
            <h1 class="h3 mb-3 fw-normal">Reset Password</h1>
            <p>Enter your resigtered email below and submit to get a password reset link</p>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" name="email" id="floating-input"
                    placeholder="example@example.com">
                <label for="floating-input" class="form-label">Email</label>
            </div>

            <button class="w-100 btn btn-lg btn-success" type="submit">Send Link</button>
        </form>
    </main>
</div>
{% endblock %}